*Обнуление*/ * {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/
body {
    background: #e5e5e5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 48px 0;
}
.container {
}
.header {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin-top: 22px;
}
.header__avatar {
    flex: 0 0 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}
img {
    max-width: 100%;
}
.header__title {
}
.name {
    font-size: 32px;
    line-height: 28px;
    color: #101214;
}
.name-job {
    font-size: 20px;
    line-height: 1;
    color: rgba(42, 174, 231, 1);
}
.heder__contacts {
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.heder__contacts {
    flex: 0 1 50%;
}
.heder__contacts__1 {
}
..icon-location {
}
.heder__contacts__2 {
    flex: 0 1 auto;
}
.heder__contacts__3 {
    color: rgba(42, 174, 231, 1);
}
.heder__contacts__4 {
    flex: 0 1 auto;
    color: rgba(42, 174, 231, 1);
}
.icon- {
    color: rgba(42, 174, 231, 1);
}
